homelab/n8n/proton-caldav-watch.json
{
  "name": "Veille — Proton CalDAV natif",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            { "field": "weeks", "weeksInterval": 1, "triggerAtDay": [1], "triggerAtHour": 9 }
          ]
        }
      },
      "id": "f1a00000-0000-4000-8000-000000000001",
      "name": "Hebdo (lundi 9h)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [260, 300]
    },
    {
      "parameters": {
        "url": "https://protonmail.uservoice.com/forums/284483-proton-mail-calendar/suggestions/49566101-caldav",
        "options": {
          "response": { "response": { "responseFormat": "text" } },
          "timeout": 20000
        }
      },
      "id": "f1a00000-0000-4000-8000-000000000002",
      "name": "GET page CalDAV Proton",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [480, 300]
    },
    {
      "parameters": {
        "jsCode": "// Détection de changement sur la page officielle de la demande CalDAV Proton.\n// On nettoie le HTML et on neutralise les compteurs de votes / dates (chiffres)\n// pour éviter les faux positifs, puis on compare un hash au précédent.\nconst html = String($input.first().json.data || '');\nlet t = html\n  .replace(/<script[\\s\\S]*?<\\/script>/gi, ' ')\n  .replace(/<style[\\s\\S]*?<\\/style>/gi, ' ')\n  .replace(/<[^>]+>/g, ' ')\n  .replace(/\\d+/g, '#')\n  .replace(/\\s+/g, ' ')\n  .trim()\n  .toLowerCase();\nconst crypto = require('crypto');\nconst hash = crypto.createHash('sha256').update(t).digest('hex');\nconst store = $getWorkflowStaticData('global');\nconst prev = store.protonCalDavHash;\nstore.protonCalDavHash = hash;\nconst changed = Boolean(prev) && prev !== hash;\nreturn [{ json: { changed, firstRun: !prev, hash } }];"
      },
      "id": "f1a00000-0000-4000-8000-000000000003",
      "name": "Détecter changement",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [700, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "typeValidation": "strict", "version": 2 },
          "combinator": "and",
          "conditions": [
            {
              "id": "cond-changed",
              "leftValue": "={{ $json.changed }}",
              "rightValue": "",
              "operator": { "type": "boolean", "operation": "true", "singleValue": true }
            }
          ]
        },
        "options": {}
      },
      "id": "f1a00000-0000-4000-8000-000000000004",
      "name": "Changement ?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [920, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://192.168.1.43:3000/api/taches",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer {{ $env.L5_API_TOKEN }}" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"projet_ref\": \"l5\",\n  \"titre\": \"Proton CalDAV : page officielle modifiée — vérifier le sync natif/bidirectionnel\",\n  \"description\": \"Détecté par la veille n8n hebdo. Vérifier le statut : https://protonmail.uservoice.com/forums/284483-proton-mail-calendar/suggestions/49566101-caldav\"\n}",
        "options": {}
      },
      "id": "f1a00000-0000-4000-8000-000000000005",
      "name": "Créer tâche L5",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1160, 220]
    }
  ],
  "connections": {
    "Hebdo (lundi 9h)": { "main": [[{ "node": "GET page CalDAV Proton", "type": "main", "index": 0 }]] },
    "GET page CalDAV Proton": { "main": [[{ "node": "Détecter changement", "type": "main", "index": 0 }]] },
    "Détecter changement": { "main": [[{ "node": "Changement ?", "type": "main", "index": 0 }]] },
    "Changement ?": { "main": [[{ "node": "Créer tâche L5", "type": "main", "index": 0 }], []] }
  },
  "settings": { "executionOrder": "v1" }
}
